*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --cor-fundo: #faf5dd;
    --cor-fundo-card: #e2ddc5;
    --cor-bordas: #8F291A;
    --cor-fundo-dark: #5a312a;
    --cor-titulos: #95150C;
    --cor-h1: #E6B115;
    --cor-branca: white;
    --cor-preta: black;
}

body{
    background-image: url('fundo-imagem.jpg');

    
}

body::before{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(fundo-imagem.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    transform: scale(1.1);
    z-index: -1;

}



header{
    background-color: var(--cor-fundo-dark);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
h1{
    font-size: 40px;
    font-family: 'Playfair Display',serif;
    color: var(--cor-h1);
}

header > ul{
    gap: 8px;
    display: flex;

}

a{
    text-decoration: none;    
    color: var(--cor-branca);
}
main{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 25px 90vw 25px;

}

#historia{
    font-size: 18px;
    text-align: justify;
    padding: 5px;
    margin: 5px;
    background-color: var(--cor-fundo-card);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1 ;
    grid-row-end: 2;
    
}

#historia > h2{
    font-family: 'Playfair Display',serif;
    color: var(--cor-titulos);
}

#tipos{
    padding: 5px;
    margin: 5px;
    background-color: var(--cor-fundo);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2 ;
    grid-row-end: 3;
}

#tipos > h3{
    font-family: 'Playfair Display',serif;
    color: var(--cor-titulos);
}


.tipos-cafe{
    background-color: var(--cor-fundo-card);
    text-align: justify;
    margin: 5px;
    padding: 5px;
    border: 2px solid var(--cor-bordas);
    transition: background-color 1s ease;
}

.tipos-cafe > h4{
    font-size: 20px;
    color:  var(--cor-titulos);
    font-family: 'Playfair Display',serif;
}

.tipos-cafe > img{
    border-radius: 5px;
    border: 3px solid var(--cor-bordas);
    max-width: 100%;
    height: auto;
    display: block;
}

.tipos-cafe:hover{
    background-color: var(--cor-branca);
}

#prova{
    padding: 5px;
    margin: 5px;
    background-color: var(--cor-fundo-card);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3 ;
    grid-row-end: 4;
}

#prova > h4{
    font-family: "Playfair",serif;
    color: var(--cor-titulos);
    font-size: 18px;
}

.container-cliente{
    border: 1px solid black;
    display: flex;
}

.cliente{
    border: 3px solid var(--cor-bordas);
    border-radius: 5px;
    text-align: justify;
    padding: 15px;
    margin: 5px;
}

#comprar{
    padding: 5px;
    margin: 5px;
    background-color: var(--cor-fundo-card);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4 ;
    grid-row-end: 5;
}


.conteudo{
    border: 3px solid var(--cor-bordas);
}

footer{
    background-color: var(--cor-fundo-dark);
}