.verMais{
    color: white;
    font-weight: bold;
    background-color: rgb(0, 199, 123);
    margin: 8px auto;
    padding: 8px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.verMais:hover{
    background-color: rgb(3, 161, 101);
    cursor: pointer;
}

#pop-up-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.678);
    backdrop-filter: blur(5px);
    z-index: 9999;
}


#encapsulador{
    display: flex;
    flex-direction: column ;
    margin: 5px;
    align-items: center;
    max-width: 90%;
}


#fechar{
    color: white;
    font-size: 25px;
    align-self: flex-start;
    background-color: transparent;
    padding: 5px;
    margin: 5px;
    font-weight: bold ;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s ease;
}

#fechar:hover{
    color: rgb(150, 149, 149);
    background-color: black;
}


#tabela{
    max-width: 100%;
    max-width: 800px;
    max-height: 80vh;
    object-fit: contain;
}