*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --cor-fundo: #faf5dd;
    --cor-fundo-card: #e2ddc5;
    --cor-bordas: #8F291A;
    --cor-fundo-dark: #5a312a;
    --cor-titulos: #95150C;
    --cor-h1: #E6B115;
    --cor-branca: white;
    --cor-preta: black;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px ;
}

body{
    background-image: url('../imagens/fundo-imagem.jpg');
    
}

body::before{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../imagens/fundo-imagem.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    transform: scale(1.1);
    z-index: -1;

}



header{
    background-color: var(--cor-fundo-dark);
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 1;
}
h1{
    font-size: 40px;
    font-family: 'Playfair Display',serif;
    color: var(--cor-h1);
}

#hamburguer{
    color: white;
    font-size: 2em ;
    cursor: pointer;
    transition: font-size 0.3s ease;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


header > nav > ul{
    gap: 8px;
    display: none;
    flex-direction: row;
}

header > nav > ul > li > a > i{
    font-size: 25px;
    padding: 5px;
}

a{
    text-decoration: none;    
    color: var(--cor-branca);
}
main{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 25px 90vw 25px;

}

#historia{
    font-size: 18px;
    text-align: justify;
    padding: 5px;
    margin: 5px;
    background-color: var(--cor-fundo-card);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1 ;
    grid-row-end: 2;
    
}

#historia > h2{
    font-family: 'Playfair Display',serif;
    color: var(--cor-titulos);
}

#historia > img{
    display: none;
}

#tipos{
    padding: 5px;
    margin: 5px;
    background-color: var(--cor-fundo);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2 ;
    grid-row-end: 3;
}

#tipos > h3{
    font-family: 'Playfair Display',serif;
    color: var(--cor-titulos);
}


.tipos-cafe{
    background-color: var(--cor-fundo-card);
    text-align: justify;
    margin: 5px;
    padding: 5px;
    border: 2px solid var(--cor-bordas);
    box-shadow: 1px 1px 10px rgba(51, 51, 51, 0.795);
    transition: background-color 1s ease;
}

.tipos-cafe > h4{
    font-size: 20px;
    color:  var(--cor-titulos);
    font-family: 'Playfair Display',serif;
}

.tipos-cafe > img{
    border-radius: 5px;
    border: 3px solid var(--cor-bordas);
    max-width: 100%;
    box-shadow: 1px 1px 5px rgba(37, 37, 37, 0.856);
    height: auto;
    display: block;
}

.tipos-cafe:hover{
    background-color: var(--cor-branca);
}

#FAQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 5px;
    background-color: var(--cor-fundo);
    border: 3px solid var(--cor-bordas);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5 ;
}

#FAQ > h3{
    font-size: 30px;
    color: var(--cor-titulos);
}

#FAQ > .bt-aux{
    width: 70%;
}

.bt-aux{
    text-align: center;
    background-color: var(--cor-h1);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(34, 34, 34, 0.897);
    color: var(--cor-titulos);
    padding: 15px;
    margin: 5px;
    transition:padding 0.3s, background-color 0.3s,margin 0.3s ease;
}

.bt-aux:hover{
    background-color: #c79a14 ;
    padding: 18px;
    margin: 8px;
    cursor: pointer;
}

#download{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: var(--cor-fundo);
    border: 3px solid var(--cor-bordas);
}

#prova{
    padding: 10px;
    margin: 5px;
    background-color: var(--cor-fundo-card);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3 ;
    grid-row-end: 3;
    border-radius: 5px;
    overflow: hidden;
}

#prova > h4{
    margin: 5px;
    font-family: "Playfair",serif;
    color: var(--cor-titulos);
    font-size: 18px;
}

.container-cliente{
    display: flex;
    width: 100%;
    position: relative;
    transition: transform 0.6s ease;
}

.foto-cliente{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.foto-cliente > p{
    font-size: 28px;
}

.foto-de-perfil{
    background-color: rgb(231, 231, 231);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--cor-bordas);
}

.cliente{
    flex: 0 0 100%;
    border: 3px solid var(--cor-bordas);
    border-radius: 5px;
    text-align: justify;
    padding: 15px;
    background-color: var(--cor-fundo);

}

.conteudo{
    border: 3px solid var(--cor-bordas);
}

#comprar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 15px;
    background-color: var(--cor-fundo-card);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4 ;
    grid-row-end: 5;
}

#comprar > h3{
    padding: 5px;
    margin: 5px;
    color: var(--cor-titulos);
    font-family: 'Playfair',serif;
}

#whatsapp-para-compra{
    padding: 15px;
    margin: 5px;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    background-color: green;
    transition: padding 0.4s, background-color 0.4s ease;
}

#whatsapp-para-compra:hover{
    padding: 20px;
    background-color: rgb(0, 187, 0);
}


footer{
    z-index: 1;
    padding: 15px;
    background-color: var(--cor-fundo-dark);
    color: var(--cor-branca);
}

footer > div > h4{
    font-family: 'Playfair',serif;
    font-size: 1.5em;
    color: var(--cor-h1);
}

footer > div{
    padding: 5px;
}

footer > div > form{
    padding: 5px;
    margin: 5px;
}
input[type = "email"]{
    border: 2px solid var(--cor-bordas);
    padding: 3px;
}

input[type = "submit"]{
    padding: 3px;
    border-radius: 2px;
    font-weight: bold;
    color: var(--cor-branca);
    background-color: rgb(0, 199, 123);
    transition: background-color 0.4s ease;
}

input[type = "submit"]:hover{
    background-color: rgb(3, 161, 101);
    cursor: pointer;
}

footer > p > a{
    color: var(--cor-h1);
}


footer > p > a > i{
    color: var(--cor-fundo);
    font-size: 20px;
    padding: 0px 5px;
    transition: color 0.4s ease;
}


footer > p > a > i:hover{
    color: var(--cor-h1);
}